html{
    /* =======================================
          * COLORS BASE 
    =========================================*/
    --white-color:#ffffff;
    --black-color:#000000;
    --blue-color:#3B82F6;
    --green-color:#10B981;
    --yellow-color:#F59E0B;
    --red-color:#EF4444;
    --gray-color:#6B7280;
  
    /* =======================================
          * COLORS VARIATIONS 
          ? write your custom colors
          ? v - custom colors
          ? colors alpha
    =========================================*/

    --light-blue-color-v: #20b8fb;
    --light-blue-color-v-1: #31bdfb;
    --light-blue-color-v-2: #41c3fc;
    --light-blue-color-v-3: #52c8fc;
    --light-blue-color-v-4: #63cdfc;
    --light-blue-color-v-5: #73d3fc;
    
    --light-red-color-v: #f86363;
    --light-red-color-v-1: #f97373;
    --light-red-color-v-2: #f98484;
    --light-red-color-v-3: #fa9494;
    --light-red-color-v-4: #fba4a4;
    --light-red-color-v-5: #fcb4b4;

    --dark-color-v:#222831;
    --dar-color-v-1:#242526;

    --white-color-alpha: rgba(255, 255, 255, .1);
    --white-color-alpha-1: rgba(255,255,255,.2);
    --white-color-alpha-2: rgba(255,255,255,.3);
    --white-color-alpha-3: rgba(255,255,255,.4);
    --white-color-alpha-4: rgba(255,255,255,.5);
    --white-color-alpha-5: rgba(255,255,255,.6);

    --black-color-alpha: rgba(0,0,0,.1);
    --black-color-alpha-1: rgba(0,0,0,.2);
    --black-color-alpha-2: rgba(0,0,0,.3);
    --black-color-alpha-3: rgba(0,0,0,.4);
    --black-color-alpha-4: rgba(0,0,0,.5);
    --black-color-alpha-5: rgba(0,0,0,.6);

  }

/* =======================================
      * CLASSES BACKGROUND COLORS 
=========================================*/

.bg-white{background-color: var(--white-color);}
.bg-black{background-color: var(--black-color);}
.bg-blue{background-color: var(--blue-color);}
.bg-green{background-color: var(--green-color);}
.bg-yellow{background-color: var(--yellow-color);}
.bg-red{background-color: var(--red-color);}
.bg-gray{background-color: var(--gray-color);}


/* =======================================
      * CLASSES TEXT COLORS 
=========================================*/

.text-white{color: var(--white-color);}
.text-black{color: var(--black-color);}
.text-blue{color: var(--blue-color);}
.text-green{color: var(--green-color);}
.text-yellow{color: var(--yellow-color);}
.text-red{color: var(--red-color);}
.text-gray{color: var(--gray-color);}


/* =======================================
        * DARK MODE 
  =========================================*/

.dark-mode{ background-color: var(--dark-color-v); }

.dark-mode span{ color: var(--white-color) !important; }

.dark-mode small{ color: var(--white-color) !important; }

.dark-mode input{ color: var(--white-color) !important; }

.dark-mode h1{ color: var(--white-color) !important; }

.dark-mode i{ color: var(--white-color) !important; }

.dark-mode p{ color: var(--white-color) !important; }

.dark-mode .nav__card-room--content:hover{ background:transparent !important; }

.dark-mode .nav__list-message--spacer{ background-color: var(--white-color-alpha-1) !important; }

.dark-mode .send__content--form-group{ border-color: var(--white-color-alpha-1) !important; }

.dark-mode .nav__list-header--form-group{ border-color: var(--white-color-alpha-1) !important; }

.dark-mode .post__card { background-color: var( --dark-color-v);  box-shadow: 0px 0px 10px var(--black-color-alpha-5); }

.dark-mode .notifications__body{ background-color: var( --dark-color-v);  box-shadow: 0px 0px 10px var(--black-color-alpha-5); }
  
  